# Porta em que a API vai rodar
PORT=3000

# Ambiente de execução (development | production)
NODE_ENV=development

# Caminho do arquivo do banco de dados SQLite
DATABASE_PATH=./database/missao_resgate.db
